@charset "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins',sans-serif;
}

.container{
    
	position: relative;
	max-width: 1200px;
	width: 100%;
	border-radius: 6px;
	padding: 30px;
	height: 750px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	
}
 .required-field::before {
            content: "*";
            color: red;
            margin-right: 2px;
        }
.container header1{
	position: relative;
	font-size: 20px;
	font-weight: 600;
	color: #333;
	
}
.container header1::before{
	content:"";
	position: absolute;
	bottom: -2px;
	height: 5px;
	width: 70px;
	border-radius: 8px;
	background-color: #4070f4;
}
.container form{
	
	position: relative;
	margin-top: 10px;
	min-height: 500px;
	background-color: #fff;
}
.container form .details{
	margin-top: 10px;
}
.container form .title{
	display: block;
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 800;
	margin: 3px 0;
	color: #333;
	
}
.container form .fields{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
form .fields .input-field{
	display: flex;
	width: calc(100%/4 - 15px);
	flex-direction: column;
	margin: 4px 0;
}
form .fields .input-field1 input{
	margin-right: 15px;
	
}
.input-field label{
	font-size: 20px;
	font-weight: 500;
	color: #2e2e2e;
}
.input-field input{
	outline:none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 0 8px;
	height: 42px;
	margin: 3px 2px;
	
	
}
.input-field input:is(:focus, :valid)
{
	box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.input-field .textarea {
        width: 500px;
        height: 50px;
        padding: 10px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 5px;
        resize: horizontally; /* This allows vertical resizing of the textarea */
    }
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; 
}

.button-container button {
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}


.nextBtn {
    background-color: blue; 
    color: #fff; 
}

.cancelBtn {
    background-color: #ff0000; 
    color: #fff; 
}


.cancelBtn:hover {
    background-color: #cc0000; 
}
       
       
       